<h2>Celebrities</h2>
<div class="celebrity-list">
  <% for (var i = 0; i < celeb.length; i++ ){ %>
    <div class="celebrity-item">
        <p> <a href="/celebrities/<%= celeb[i].id %>"><%= celeb[i].name %></a> </p>
        <form method="post" action="/celebrities/<%= celeb[i].id %>/delete">
          <button>&#x2716;</button>
        </form>
    </div>
  <% } %>
</div>
<div>
  <a href="/celebrities/new">Insert a new Celebrity</a>
</div>