<h2>Celebrity Detail</h2>
<div class="celebrity-detail">
  <p><strong>Name: </strong><%= name %></p>
  <p><strong>Occupation: </strong><%= occupation %></p>
  <p><strong>Quote: </strong><%= catchPhrase %></p>
</div>